/* Estilos gerais para o card */
.card {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.2rem;
}

.delete-btn {
    background-color: #ff4c4c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-btn:hover {
    background-color: #ff1c1c;
}

/* Media query para telas menores */
@media (max-width: 768px) {


    .card-body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .btn-org{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .rigth{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        
    }
    .delete-btn {
        top: 50px;
        width: 85px;
        height: 40px;
        padding:  0;
        font-size: 1rem;
    }
}

/* Media query para telas muito pequenas */
@media (max-width: 576px) {
    .card {
        padding: 10px;
    }

    .card-title {
        font-size: 1.8rem;
    }

    .card-total{
        font-size: 1.5rem;
    }
    .card-text {
        font-size: 1.2rem;
    }
   

    .delete-btn {
        padding: 10px 0;
        font-size: 0.9rem;
    }
}
